.todo-form{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sort-nav{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  

}

.list-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-width: 2px;
  border-color: rgb(19, 28, 53);
  border-style: solid;
  text-align: center;
  margin: 10%;
  box-shadow: 5px 6px #bbbbbb;
  transition: transform .2s; /* Animation */
}

.edit-container{
  display:flex;
}

.buttons{
  width: 100px;
 
  margin: 5px;
  padding: 5px;
}

.input{
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 40px;
}